$primary-color: #5B33C8;

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.highcharts-credits {
  display: none;
}

#graphContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div[id^="container"] {
  width: 50%;
  height: 300px;
}

#welcome-container {
  padding-top: 10vh;
  height: 90vh;
  // background-image: url("/images/welcome-bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  color: $primary-color;
  .welcome-button-container {
    margin-top: 40px;
    .welcome-button {
      transition: background-color 0.3s ease;
      font-size: 18px;
      margin: 20px;
      border-radius: 0px;
      padding: 10px;
      border: 1px solid black;
      text-decoration: none;
      background-color: $primary-color;
      color: white;
      &:hover {
        background-color: white;
        color: $primary-color;
      }
    }
  }
}

#main-container {
  display: flex;
  justify-content: space-around;
  #login-form {
    margin-top: 20px;
    display: none;
  }
}

#snapshot-container {
  #video {
    border: 3px solid $primary-color;
    width: 640px;
    height: 480px;
  }
  .kapture-button {
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin: 20px;
    border-radius: 0px;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    background-color: $primary-color;
    color: white;
    &:hover {
      background-color: white;
      color: $primary-color;
    }
  }
}

.center {
  text-align: center;
}

#canvas {
  display: none;
}

